Project One: The Essentials

Execute Cell Options
Create new cells using alt+Enter Run cell with ctrl+Enter Run cell and move to next cell using shift+Enter

In [36]:
x=[]
print(x)
print(x)
x

[]
[]

[]

In [6]:
#Helloworld.py
print("Hello World!")
#If you instruct python to print a string, it will return the string
#without quotes

Hello World!

In [8]:
"Hello World!"
#If you type a string into python and execute the code it will return 
#the string you entered in quotes

'Hello World!'

In [10]:
'Hello World'
#In python we can use double quotes and single quotes for strings

'Hello World'

In [12]:
print('"Hello World!"')
#If you print a string that includes quotes within quotes python will 
#print the string with the inner quotes included

"Hello World!"

In [14]:
msg = "Hello World"
msg
#In python strings can be saved as objects

'Hello World'

In [41]:
print(msg)
#If you save a string as an object in python and call the print function
#python will print the string without quotes. if you call the 
#it will return the object with quotes

Hello World

Methods

In [18]:
msg.lower()
#String methods can be used to transform strings. In this case, the 
#lower() function returns the string with all characters converted to
#lower case

'hello world'

In [20]:
msg.upper()
#The upper() string method converts all leters to uppercase

'HELLO WORLD'

In [28]:
msg.lower().title()
#The string method called last takes precedence

'Hello World'

In [26]:
msg.title().lower()

'hello world'

In [56]:
msg.upper()
print(msg)
#Notice that the string 'msg' is unchanged. We must save msg.upper() as
#a new object and then print it to transform it
MSG=msg.upper()
print(MSG)

Hello World
HELLO WORLD

In [44]:
#str.replace("string_to_replace", "new_string_to_replace_the_old_string")
print("data_label".title().replace("_","\n"))
#We can use the replace function to replace the underscore in the string
#'data_label' with a newline ('\n') to get the output below.

Data
Label

In [ ]:
Concatenate

Concatenate Objects
Use the '+' operator to concatenate strings, lists, etc.
Use the '+' operator to sum integers and floats

In [46]:
"1" + "2" + "3", 1+2+3
#Here we use '+' to join strings '1','2', and '3' to create '123', and 
#we use '+' to sum integers 1, 2, and 3 to create 6.

('123', 6)

In [48]:
msg + "123"
#Here we concatenate string object 'msg' with string '123' to get the
#output below

'Hello World123'

In [50]:
f"Happy {5}th Birthday"

'Happy 5th Birthday'

In [62]:
for i in range(1,10+1):
    print(f"Happy {i}th Birthday")
#We can use f-strings to place a string of our choice within a string. 
#In this case, the iterations of a for loop are placed in curly braces
#within the string. The output for each line reflects the current 
#iteration of the for loop.

Happy 1th Birthday
Happy 2th Birthday
Happy 3th Birthday
Happy 4th Birthday
Happy 5th Birthday
Happy 6th Birthday
Happy 7th Birthday
Happy 8th Birthday
Happy 9th Birthday
Happy 10th Birthday

In [64]:
# generator function
print([i for i in range(100)])
#Generator functions can be used to generate simulated data. In this case,
#we've instructed python to print integer values between 0 and 99 using
#list comprehension syntax and the range function.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [66]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Printing(Poetry)

In [90]:
line1 = "You thought it would be easy"
line2 = "You thought it would be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"
#A great way to learn string concatenation is by writing poetry using code.

In [70]:
line1, line2, line3, line4
#If we call multiple string objects with commas between each object the
#output is a tuple

('You thought it would be easy',
 'You thought it would be strange',
 'But then you started coding',
 'Things never were the same')

In [72]:
print(line1, line2, line3, line4)
#When the print function is called commas that seperate objects are interpreted
#as spaces between the objects

You thought it would be easy You thought it would be strange But then you started coding Things never were the same

In [74]:
print(line1, line2, line3, line4, sep = "\n")
#When the print function is called a seperator can be specified as an
#argument. in this case, the newline escape sequence ('\n') is used to
#seperate each object which prints each object on its own line.

You thought it would be easy
You thought it would be strange
But then you started coding
Things never were the same

In [76]:
print(line1, line2, line3, line4, sep = "::")
#In this case we use two colons to seperate each object when we print them

You thought it would be easy::You thought it would be strange::But then you started coding::Things never were the same

In [92]:
print(line1, line2, line3, line4, sep = "+")
#Here we use a plus sign to seperate each object

You thought it would be easy+You thought it would be strange+But then you started coding+Things never were the same

Double quotes, single quotes, and escape (\)

In [80]:
print(line1, line2, line3, line4, sep = "\t")
#Here we insert tabs between each object

You thought it would be easy	You thought it would be strange	But then you started coding	Things never were the same

In [82]:
single_quotes = 'We may use \'single quotes\' within single quotes. This will change the \
interpretation of the single quote to a character that is a string, instead of ending the \
string initiated by single quotes'
#In python we can use a '\' to include single quotes within single quotes
double_quotes = "Or we may use \"double quotes\" in double quotes."
#We can do the same with double quotes within double quotes
read_backslash = "We may use two backslashes to print a single backslash: \\"
#We can use two backslahes in a string to include one backslash when printed
lines = "Every\nword\nis\na\nnew\nline"
new_line_and_tab="A new\nline and a \t tab"
#We can use escape sequences like '\n' and '\t' to modify the output of
#a string when we call it using the print function
print(single_quotes)
print(double_quotes)
print(read_backslash)
print(lines)
print(new_line_and_tab)

We may use 'single quotes' within single quotes. This will change the interpretation of the single quote to a character that is a string, instead of ending the string initiated by single quotes
Or we may use "double quotes" in double quotes.
We may use two backslashes to print a single backslash: \
Every
word
is
a
new
line
A new
line and a 	 tab

In [85]:
#strip.py
spaces = "    Look at all the spaces in the text!    "
print("no spaces removed:\n", spaces)

remove_left_spaces = spaces.lstrip()
remove_right_spaces = spaces.rstrip()
remove_left_and_right_spaces = spaces.strip()
#We can use the lstrip(),rstrip(), and strip() functions to strip unnecessary
#from strings
print("Remove left spaces:\n" + remove_left_spaces)
print("Remove right spaces:\n" + remove_right_spaces)
print("Remove left and right spaces:\n" + remove_left_and_right_spaces)

no spaces removed:
     Look at all the spaces in the text!
Remove left spaces:
Look at all the spaces in the text!
Remove right spaces:
    Look at all the spaces in the text!
Remove left and right spaces:
Look at all the spaces in the text!

In [88]:
remove_all_spaces = spaces.replace(" ", "")
print("Remove all spaces:\n" + remove_all_spaces)
#We can use the replace function to replace each space in a string with a null string
#This is useful, however notice that the spaces in between the words in the
#string were also removed. In this case, lstrip() and rstip() functions may
#be more useful

Remove all spaces:
Lookatallthespacesinthetext!

Values

In [96]:
xint = 3
xfloat = 3.
xstr = "3"
xint, xfloat, xstr
#There are three data types in python; strings, integers, and floats

(3, 3.0, '3')

In [102]:
print(xint,type(xint))
print(xfloat,type(xfloat))
print(xstr,type(xstr))
#We can check the data type of an object using the type() function

3 <class 'int'>
3.0 <class 'float'>
3 <class 'str'>

In [104]:
xint + xfloat, type(xint + xfloat)
#If we sum an integer with a float the result will be a float

(6.0, float)

In [106]:
xstr + xfloat
#If we try to add a string to a float we will get a TypeError

TypeError: can only concatenate str (not "float") to str

In [108]:
print(xstr + str(xfloat))
print(xstr + str(xint))
#However, we can convert both integers and floats into strings. This allows
#us to concatenate these values with strings.

33.0
33

In [112]:
int(xstr) + xint, float(xstr) + xint
#Conversely, we can sum strings with integers and floats by converting
#strings to integer/float data types

(6, 6.0)

In [114]:
xstr='three'
int(xstr)+xint
#Note, that a string must have a numeric data type in order to convert
#it to type integer

ValueError: invalid literal for int() with base 10: 'three'

In [116]:
string_to_value = {
    "One":1,
    "Two":2,
    "Three":3,
    "Four":4
}

string_to_value

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [118]:
string_to_value["One"]

1

Overflow error for a float

In [122]:
2.0**1023
#Python has limits on the size of the float values it can store. Any base with a decimal cannot be raised 
#to a power greater than or equal to the 1024th power

8.98846567431158e+307

In [124]:
2.0**1024
#This produces an overflow error because the result is out of range

OverflowError: (34, 'Numerical result out of range')

In [ ]:
2**1024
#However, we can raise integer values to whatever power we want without getting an overflow error